Still here? Are you going to stop being a JERK?!

<form method="post" action="chance">
  <input type="radio" name="ques" value="Yes"> Yes
  <input type="radio" name="ques" value="No"> No<br>
  <input type=submit>
  <!-- <input type="text" name="user_name" value = <%= name %> hidden> -->
</form>