Fine <%= name %>! Just GO!... Can I help the next person in line please?

<form method="post" action="chance">
	<!-- <input type="text" name="user_name" value = <%= name %> hidden> -->
</form>
<meta http-equiv="refresh" content="3;/" />
