Are you sure you don't want to change anything else out?

<form method="post" action="ok">
  <input type="radio" name="ques" value="Yes"> Yes
  <input type="radio" name="ques" value="No"> No<br>
  <input type=submit>
  <!-- <input type="text" name="user_name" value = <%= name %> hidden> -->
</form>