So <%= name %>, what is the total number of cents you have on you right now?

<form method = "post" action = "changer">
	<input type = "number" autofocus="autofocus" name = "cents">
	<input type = "submit">
	<!-- <input type="text" name="user_name" value = <%= name %> hidden> -->
</form>