Ok, what else do you have for me?

<form method = "post" action = "changer">
	<input type = "number" autofocus="autofocus" name = "cents">
	<input type = "submit">
	<!-- <input type="text" name="user_name" value = <%= name %> hidden> -->
</form>