Well <%= name %>, that makes <%= coins %>. Can I help you with anything else?

<form method="post" action="help">
  <input type="radio" name="ques" value="Yes"> Yes
  <input type="radio" name="ques" value="No"> No<br>
  <input type=submit>
  <!-- <input type="text" name="user_name" value = <%= name %> hidden> -->
</form>